// Font added
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import "main.css";

$background-color:#d0a65a;
$nav-bk:#F5C6AA;

html {
    font-family: 'googleapis',sans-serif;
    box-sizing: border-box;
}

body {
    background: $background-color;
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .nav-mobile {
        display: none;
    }
    .logo{
        display: flex;
        align-items: flex-start;
    }
    .logo img{
        cursor: pointer;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }

    .logo h1 {
        position: relative;
        color: purple;
        cursor: pointer;
        font-family: 'Rubik',sans-serif;
        animation: fallin 0.8s;
    }

    .nav-links {
        margin-right: 40px;
        img{
            display: none;
        }
    }
    .nav-links ul{
        display: flex;
        li {
            list-style: none;
            padding-left: 100px;
            a {
                position: relative;
                font-size: 18px;
                color: purple;
                font-family: 'Rubik',sans-serif;
                font-weight: 600;
                text-decoration: none;
                transition: all ease-in 0.5s;
                animation: fallin 1.2s;
            }

        @keyframes fallin {
            0% {
                bottom: 300px;
            }
            100% {
                bottom: 0;
            }
        }
        }
        a::after{
            opacity: 0;
            animation: fadein 0.7s;
        }
        @keyframes fadein {
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
        a:hover{
            color: rgb(128, 103, 128);
            font-size: 19px;
        }
        a:hover::after {
            display: block;
            content: '';
            opacity: 1;
            background: #B25068;
            width: 100%;
            border-radius: 4px;
            height: 2px;
        }
    }

}

@media only screen and (max-width:480px){
    nav{
        overflow: hidden;
        .nav-mobile {
            display: block;
        }

        #show {
            display: none;
        }

        .nav-links {
            z-index: 10;
            display: none;
            background-color: $nav-bk;
            height: 100%;
            width: 50%;
            position: absolute;
            margin-right: 0;
            top: 0;
            right: 0;
            img{
                display: block;
                margin-left: 70%;
                padding: 20px 10px;
            }
            animation: fadein 0.5s;
        }
        @keyframes fadein {
            0%{opacity: 0;}
            100%{opacity: 1;}
        }

        @keyframes fadeaway {
            0%{opacity: 1;}
            100%{opacity: 0;}
        }

        .nav-links ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:flex-start;
            padding-top: 150px;
        }

        .nav-links ul li {
            padding-left: 0;
            padding-bottom: 50px;
        }

        .nav-links ul li a {
            color: purple;
        }

        .nav-links ul  a:hover {
            color: #A084CF;
        }

        .nav-links ul  a:hover::after{
            display: none;
        }
    
    
    }

    
}